/* ... existing styles ... */

:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --background-color: #f4f4f4;
  --text-color: #333;
  --light-accent: #ecf0f1;
  --border-color: #ddd;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* Add these new rules for links */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover, a:focus {
  color: #2980b9; /* Slightly darker shade of the primary color */
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Reverse flex direction for odd-indexed items */
.option.reverse {
    flex-direction: row-reverse;
}
/* Add this new rule for images */
.option img {
    width: 300px; /* Standard size for images */
    height: 200px;
    border-radius: 8px;
}

h1, h2 {
    color: var(--secondary-color);
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: #fff;
    margin: 0 0 20px 0;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--light-accent);
    border-radius: 5px;
}

strong {
    color: var(--secondary-color);
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 15px;
}

/* ... existing styles ... */


.option-container {
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
}

.option-container h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option img {
    width: 300px; /* Standard size for images */
    height: 200px;
    border-radius: 8px;
}

.option .content {
    flex: 1;
    padding: 0 20px;
}

.option .content p {
    margin: 0;
}

.option .content .address {
    margin-top: 10px;
    font-weight: bold;
}

/* Reverse flex direction for odd-indexed items */
.option.reverse {
    flex-direction: row-reverse;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .option {
        flex-direction: column;
        align-items: flex-start;
    }

    .option img {
        margin-left: 0;
        margin-top: 10px; /* Space between text and image */
        width: 100%; /* Adjust image width for smaller screens */
        height: auto;
    }

    .option.reverse {
        flex-direction: column;
    }
}